.skillsLogo {
    height: 60px;
    width: 60px;
}

.hello {
    
    background-color: #9dc5c3;
background-image: linear-gradient(315deg, #2f657c 30%, #989b9a 70%);
    
}

.main {
    margin-top: 100px;
}
