.skillsLogo {
    height: 60px;
    width: 60px;
}

.hello {
    
    /* background-image: url('https://us.123rf.com/450wm/kurkalukas/kurkalukas1705/kurkalukas170500036/78170538-fondo-astratto-metallico-grigio-aspetto-metallico-acciaio-inossidabile-alluminio-pendenza-nero-strut.jpg?ver=6'); */
    padding-top: 10px;
    
}

.main {
    margin-top: 100px;
}

.lead {
    padding-top: 10px;
    color: white;
    font-family: 'Arima Madurai', cursive;
}

.brand2 {
    color: white;
    font-family: 'Arima Madurai', cursive;
    padding-top: 40px;
}

.resume {
    font-size: 25px;
}

.res-link {
    color: rgb(5, 134, 255);
}

.pic {
    margin-bottom: 20px;
    
}

.headshot {
    width: 100%;
}

.banner {
    width: 300px;
    height: 300px;
    background-image: url('../../Pictures/banner-18.jpg');
    background-repeat: no-repeat center center fixed;
    box-shadow: inset 0 0 40px 30px rgb(3, 3, 3);
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 200px 200px;
  margin-left: 30px;
 
}

.banner2 {
    padding-top: 105px;
    width: 500px;
    margin-right: 150px;
}

.display-4 {
    animation: fadeIn;
    animation-duration: 5s;
}




@media screen and (max-width: 480px) {

    .banner2 {
        padding-top: 105px;
        width: 300px;
        margin-right: 250px;
    }

    .banner {
        padding-right: 50px;
        width: 250px;
    height: 250px;
    }
  }