.nav-bar {
    background-image: url('../../comp/Pictures/background-15.jpg');
    height: 60px;
    width: 100%;
    font-size: 30px;
    color:white;
    margin-top: 30px;
    padding-bottom: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: end;
}

.brand {
    color: white;
    font-family: 'Arima Madurai', cursive;
    padding-top: 20px;
}

/* .navbar-main {
    display: flex;
    justify-content: center;

} */

.navbar-toggler {
    position: absolute;
    background-color: rgb(250, 249, 249);
    border: 5px solid;
    opacity: .2;
}

/* .ml-3 {
    font-size: 30px;
    color: white;
} */

.navLinks {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.links {
    color: white;
    
}



@media screen and (max-width: 480px) {
    .nav-bar {
        color: white;
        font-family: 'Arima Madurai', cursive;
        padding-bottom: 20px;
        background-color: black;
    }
    
  }




