.nav {
    /* background-color: #1d4150; */
    height: 100px;
    font-size: 30px;
    padding-left: 20px;
    color:white;
    
}

.navbar-toggler {
    position: absolute;
    background-color: rgb(250, 249, 249);
    border: 5px solid;
    opacity: .2;
}

.ml-3 {
    font-size: 30px;
    color: white;
}

.navLinks {
    height: 90px;
    padding-top: 10px;
    padding-left: 50px;
}

.links {
    color: white;
    padding-left: 50px;
}




