.logo {
    height: 30px;
    width: 35px;
}

.headshot{
    height: 225px;
    width: 200px;
}

.contact {
    background-color: #9dc5c3;
background-image: linear-gradient(315deg, #3e84a1 30%, #c4c9c7 74%);
}

.m-5 {
    color: white;
}

.m-3 {
    color: black;
}


