.logo {
    height: 30px;
    width: 35px;
}

.headshot{
    height: 225px;
    width: 200px;
}

.contact {
    background-color: #9dc5c3;
background-image: linear-gradient(315deg, #bbc0ca 0%, #9dc5c3 74%);
}