.nav {
    background-color: #2b393f;
    height: 100px;
    font-size: 30px;
    padding-left: 20px;
    
}

.ml-3 {
    font-size: 30px;
    padding-left: 900px;
    color: white;
}

.navLinks {
    height: 90px;
    padding-top: 10px;
}

.links {
    color: white;
}




