body {
  /* background: linear-gradient(
  309deg,
  rgb(21, 22, 27) 34%,
  rgb(181, 190, 174) 80%); */

  /* background-image: url('./comp/Pictures/background-7.jpg'); */
  background-color: black;
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background: #000; */
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
 

    /* background-size: cover; */
    
    
    /* background-color: rgb(45, 56, 87); */
    /* background-repeat: no-repeat;
    height: 100vh;
    padding:0;
    margin:0; */
    

    /* https://i.pinimg.com/736x/99/05/a6/9905a6ca0a3d4c6c46971461282750c5.jpg */

    /* https://i.gifer.com/EamV.gif */
    /* https://thumbs.gfycat.com/ComplicatedYawningIndiancow-max-1mb.gif */
    /* https://pa1.narvii.com/6843/2e182e516e3bceac7393cb07fa57beeca296b2c6_hq.gif */
   
  
  /* background-position: 100% top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: 100%;
    height: 100vh;
    width: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
